@charset "utf-8";
.tea-table__box .disable {
  opacity: .3;
}

.fieldtable .tea-text-right {
  padding-right: 90px;
}

.typeform {
  display: block;
  max-height: 250px;
  overflow-y: auto;
}

.typeform .tea-form__controls {
  padding-right: 0;
}

.tea-form.forminline {
  padding: 0;
}

.tea-form.forminline .tea-form__controls {
  padding-right: 0;
}

.tea-form.forminline .tea-form__controls--text {
  padding-top: 0;
}

.tea-form .tea-form__item .tea-form-check-group .tea-form.forminline .tea-form__item .tea-form__label {
  padding-bottom: 16px;
}
