@charset "utf-8";
@font-face {
  font-family: 'oit';
  src: url("../../fonts/oit-Regular.ttf");
  src: url("../../fonts/oit-Regular.woff") format("woff"), url("../../fonts/oit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-oit {
  font-family: 'oit';
}

.databrain__header-logo {
  font-family: 'oit';
  font-size: 30px;
  color: #fff;
  line-height: 1;
  font-weight: normal;
}

.customize-svgicon {
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 1;
  fill: currentColor;
  color: #888;
}

.customize-svgicon > svg {
  width: 100%;
  height: 100%;
}

.customize-svgicon:hover {
  color: #444;
}

.fast {
  color: #e54545;
}
